<div class="three-dots-div-reply">
  <img src="../common/png/dots.png" class="three-dots-reply"> 
  
    <div reply-id="{{_id}}" class="edit-delete-reply">
      <a href="/edit-reply/{{_id}}" id="edit-option" class="option edit-reply">
        <img class="pen-stroke" src="../common/png/pen-stroke.png">
        <p>Edit Reply</p>
      </a>

      <a href="/delete-reply/{{_id}}" id="delete-option" class="option delete-reply">
        <img class="trash" src="../common/png/trash.png">
        <p>Delete Reply</p>
      </a>
    </div>   
</div>