<form name="edit-profile" action="/edit-profile/{{user.username}}" method="post">
  <input type="hidden" id="old-username" value="{{user.username}}">
  <div id="edit-popup" class="edit-popup">
    <div class="edit-header">
      <img id="close-btn" src="/common/png/x.png">
      <p>Edit Profile</p>
      <button type="submit" id="save-btn">Save</button>
    </div>

    <div class="edit-details">
      <p>Display name</p>
      <div class="input-details">
        <input id="edit-username" type="text" placeholder="Display name" name="username" pattern="^[a-zA-Z1-9].*">
      </div>
    </div>

    <div class="edit-details">
      <p>Bio</p>
      <div class="input-details">
        <input id="edit-bio" type="text" placeholder="Bio" name="bio" pattern="^[a-zA-Z1-9].*">
      </div>
    </div>

    <div class="edit-details">
      <p>Profile picture URL</p>
      <div class="input-details">
        <input id="edit-profile-picture" type="text" placeholder="Insert link" name="user_image" pattern="^[a-zA-Z1-9].*">
      </div>
    </div>

    <div class="edit-details">
      <p>Header URL</p>
      <div class="input-details">
        <input id="edit-header" type="text" placeholder="Insert link" name="header_image" pattern="^[a-zA-Z1-9].*">
      </div>
    </div>
  </div>
</form>