<div class="three-dots">
  <img src="../common/png/dots.png" id="edit-delete-btn"> 
  
    <div post-id="{{_id}}" class="edit-delete-post">
      <div id="edit-option" class="option edit">
        <img class="pen-stroke" src="../common/png/pen-stroke.png">
        <p>Edit Post</p>
      </div>

      <div id="delete-option" class="option delete">
        <img class="trash" src="../common/png/trash.png">
        <p>Delete Post</p>
      </div>
    </div>   
</div>