<div class="header-bar">
    <div id="logo-bar" class="logo-name" onclick="window.location = '/'">
    <img src='../common/svg/logo.svg'>
    <p>Wavelength</p>
    </div>

    <form class="search-area" method="get" action="search">
        <input type="text" name="search" id="search" placeholder="Type to search">
        <p class="text">Filter:</p>
        <select name="options" id="options">
            <option value="title">Post Title</option>
            <option value="trackName">Track</option>
            <option value="artist">Artist</option>
            <option value="tag">Tag</option>
            <option value="postText">Post Text</option>
            <option value="username">User</option>
        </select>
    </form>
    <div id="user-bar" class="user-bar">
{{#if isLogged}}
    <div class="profile-pic-holder">
        <a class="profile-picture" href="/profile-{{{ user.username }}}"> <img src="{{{ user.user_image }}}"> </a>
    </div>
        <a href="/logout" class="logged-status" id="log-out">log out</a>
{{/if}}
{{#unless isLogged}}
    <a href="/login" id="log-in" class="logged-status">log in</a>
    <p>|</p>
    <a href="/signup" id="sign-up" class="logged-status">sign up<a>
{{/unless}}
    </div>
</div>