<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/albumpage.css" rel="stylesheet"></link>
    <link rel=icon href="../common/svg/logo.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>