<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/createpost.css" rel="stylesheet"></link>
    <link rel=icon href="../common/svg/logo.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/common/profile_func.js"></script>
    <script src="/common/album_select.js"></script>
    <script src="/common/createpost.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>
