{{> navigation}}
<div id="delete-post-popup" class="delete-post-popup">
  <div class="delete-popup-content">
    <p id="delete-comment-text">Delete Comment?</p>
    <p id="delete-comment-warning">Once you delete this comment, it cannot be undone.</p>
    <div class="delete-popup-options">
      <a href="/profile-{{comment.username}}" id="cancel-delete-btn">Cancel</a>
      <form name="deleted" action="/deleted-comment/{{comment._id}}" method="post">
        <button type="submit" id="confirm-delete-btn">Delete</button>
      </form>
    </div>
  </div>
</div>