{{> navigation}}

<div class="edit-comment-parent">
  <form name="update-comment" action="/update-comment/{{comment._id}}" onsubmit="return validateComment()" method="post">
    <div class="edit-recent-comment">
      <p class="comment-status">Editing comment on <span class="comment-title">{{comment.postId.title}}</span></p>
      <div class="edit-comment-box ">
        <textarea placeholder="Write something..." id="commentText" name="commentText">{{comment.commentText}}</textarea>
      </div>
      <div class="edit-comment-footer">
        <button id="save-changes-btn" type="submit">Save Changes</button>
      </div>
    </div>
  </form>
</div>

