
{{> header-logo}}

<form name="login-form" method="post" action='/login'>
          <div class="form">
            <div class="form-body">
              <p class="register">LOG IN</p>

              <p class="field-text">Username</p>
              <input type="text" name="username" class="field" id="username-field">

              <p class="field-text">Password</p>
              <input type="password" name="password" class="field" id="password-field">
              
              <div class="remember">
                  <input type="checkbox">
                  <p>Remember me</p>
              </div>
            </div>
            
            <p class="error-message">{{message}}</p>

            <div class="button-area">
              <input class="submit-login-button" type="submit" value="Log In"></input>
            </div>

            <p class="bottom-text">Don't have an account? <span><a href="/signup">Sign up</a></span>.</p>
          </div>
</form>
