{{> navigation}}

<div id="feed" class="feed">
    <div id="create-post" class="create-post"> 
    
    <div id="pfp-holder">
        <img id="profile-picture-post" src="https://i.pinimg.com/736x/ed/42/34/ed4234840e9d633c60a64c956bb6a629.jpg" />
    </div>
    <div id="create-post-text" class="create-post-text">
        <a class="create-post-text" href="createpost.html">
        <p>Create post</p>
        </a>
    </div>
    </div>
    

    <div class="sort-feed">
    <div id="recent" class="sort-option">
        <img class="image" src="../common/svg/recent.svg">
        <p class="text">RECENT</p>
    </div>

    <div id="popular" class="sort-option">
        <img class="image"  src="../common/svg/popular.svg">
        <p class="text">POPULAR</p>
    </div>
    </div>

    <div id="featured-posts" class="featured-posts">
    <p>Featured Posts</p>
    <hr>
    </div>
    
    <div id="filtered-tags" class="filtered-tags">
    </div>
    <div id="post-area">
        {{> post}}
    </div>
    
    <button class="load-more">
        <span>Load more posts</span> 
        <span>+</span>
    </button>

</div>
