{{> header-logo}}

<form name="signup-form" method="post" action='/signup'>
  <div class="form">
      <div class="form-body">
        <p class="register">REGISTER</p>

        <p class="field-text">Username</p>
        <input name = "username" type="text" class="field" value="{{username}}" id="username-field" required>

        <p class="field-text">Password</p>
        <input name = "password" type="password" class="field" value="{{password}}" id="password-field" required>

        <p class="field-text">Confirm Password</p>
        <input name = "confirmpassword" type="password" class="field" value="{{confirmpassword}}" id="confirm-password-field" required>
      </div>

      <p class="error-message">{{message}}</p>

      <div class="button-area">
          <input class="submit-login-button" type="submit" value="Sign Up"></input>
      </div>
    <p class="bottom-text">Have an account? <span><a href="/login">Log in</a></span>.</p>
  </div>
</form>