/* Custom fonts */

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-Regular.ttf'); 
    font-weight: normal
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-ExtraBold.ttf'); 
    font-weight: 900;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-Bold.ttf'); 
    font-weight: bold;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-LightItalic.ttf'); 
    font-weight: 100;
    font-style: italic;
}


::selection {
    color: #211F27;
    background: #BBA7FF;
}

/* body */
body { 
    margin: 0px; 
    background-color: #3B3942;
    overflow: auto;
}


.main-page {
    display: flex;
    flex-direction: column;
}

/* header elements */
.header-bar {
    background-color: #211F27;
    display: flex;
    flex-direction: row;
}

.logo-name {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    width: 25%;
    cursor: pointer;
}

.logo-name > img {
    width: 50px;
    margin-right: 10px;
}

.logo-name > p {
    margin: 5px 0px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.search-area {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.search-area > input {
    width: 60%;
    height: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    padding-left: 50px;
    background-color: #F4EBEB;
    background-image: url('../common/svg/search.svg');
    background-position: 17px 13px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0px;
    font-size: 15px;
    border-radius: 25px;
    color: #211F27;
}

.search-area > input:focus { outline: none; }

.search-area > input::placeholder {
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    color: #211F27;
}

.user-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 25%;
}

.logged-status, .user-bar > p, .user-bar > a:visited {
    font-family: "OpenSans", sans-serif;
    font-style: regular;
    color: #F4EBEB;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.logged-status:hover {
    color: #BBA7FF;
    transition: all 0.25s ease-in-out;
}

.logged-status:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BBA7FF;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    text-decoration: none;
}

.logged-status:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #BBA7FF; /* Set the underline color */
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.profile-picture {
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}

.profile-pic-holder {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 5px;
}

.profile-picture > img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture:hover {
    opacity: 0.5;
    transition: all .3s ease;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.artist-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    width: 1350px;
}

.artist-pic-container {
    width: 25%;
}
.artist-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    width: 75%;
}

.artist-name {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.artist-genre {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #F4EBEB;
    margin-top: 10px;
    margin-bottom: 0px;
}

.tags-area {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.tag {
    background-color: #8F59DD;
    margin-right: 10px;
    border-radius: 25px;
}

.tag > p {
    color: #F4EBEB;
    font-weight: normal;
    margin: 0px 10px;
    font-family: "OpenSans", sans-serif;
}

.artist-bio {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #F4EBEB;
    margin-top: 10px;
    margin-bottom: 0px;
}

.artist-bio > a:link, a:visited{
    color: #F4EBEB;
    font-weight: bold;
}

.artist-bio > a:link:hover {
    color: #BBA7FF;
}

.discog-header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 3px solid #211F27;
    border-bottom: 3px solid #211F27;
    margin-top: 20px;
    margin-bottom: 20px;
}
.discog-header > h1 {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    justify-content: left;
    align-items: flex-start;
}

.discog-header-details{
    display: flex;
    flex-direction: row;
}

.empty-box{
    width: 10%
}

.title-header {
    margin-right: 20px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #F4EBEB;
    margin-bottom: 10px;
    padding-left: 6%;
    width: 20%;
}

.reviews-header{
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #F4EBEB;
    text-align: center;
    margin-bottom: 10px;
}

.album-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    
    padding-bottom: 5px;
    width: 100%;
}

.album-panel {
    display: flex;
    flex-direction: row;
}  

.album-image > img {
    width: 64px;
    height: 64px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px ;
}

.album-title-date-container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 5px;
    width: 90%;
}

    

.album-link:link, .album-link:visited{
    color: #BBA7FF;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #BBA7FF;
    text-align: left;
}

.album-title > a:hover {
    color: #F4EBEB;
  }

.album-date {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #F4EBEB;
    text-align: left;    
}

.album-reviews {
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #F4EBEB;
    text-align: left;
}

.album-average{
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #BBA7FF;
    text-align: right;  
    width: 60px;
}

.album-metrics {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 0px 40px;
    margin-right: 40px;
    margin-top: 10px;
}

.text {
    font-family: OpenSans;
    font-weight: normal;
    color: #F4EBEB;
    font-size: 16px;
    margin: 10px;
  }

  #options {
    font-family: OpenSans;
    font-weight: normal;
  }

  select {
    background-color: #F4EBEB;
  }

  select:focus {
    outline: none;
  }