/* Custom fonts */

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-Regular.ttf'); 
    font-weight: normal
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-ExtraBold.ttf'); 
    font-weight: 900;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-Bold.ttf'); 
    font-weight: bold;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../common/fonts/OpenSans-LightItalic.ttf'); 
    font-weight: 100;
    font-style: italic;
}

::selection {
    color: #211F27;
    background: #BBA7FF;
}

/* body */
body { 
    margin: 0px; 
    background-color: #3B3942;
    overflow: auto;
}


.main-page {
    display: flex;
    flex-direction: column;
}

/* header elements */
.header-bar {
    background-color: #211F27;
    display: flex;
    flex-direction: row;
}

.logo-name {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    width: 25%;
    cursor: pointer;
}

.logo-name > img {
    width: 50px;
    margin-right: 10px;
}

.logo-name > p {
    margin: 5px 0px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.search-area {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.search-area > input {
    width: 60%;
    height: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    padding-left: 50px;
    background-color: #F4EBEB;
    background-image: url('../common/svg/search.svg');
    background-position: 17px 13px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 0px;
    font-size: 15px;
    border-radius: 25px;
    color: #211F27;
}

.search-area > input:focus { outline: none; }

.search-area > input::placeholder {
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    color: #211F27;
}

.user-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 25%;
}

.logged-status, .user-bar > p, .user-bar > a:visited {
    font-family: "OpenSans", sans-serif;
    font-style: regular;
    color: #F4EBEB;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.logged-status:hover {
    color: #BBA7FF;
    transition: all 0.25s ease-in-out;
}

.logged-status:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BBA7FF;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    text-decoration: none;
}

.logged-status:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #BBA7FF; /* Set the underline color */
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.profile-picture {
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}

.profile-pic-holder {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 5px;
}

.profile-picture > img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture:hover {
    opacity: 0.5;
    transition: all .3s ease;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 150px;
}

.sort-feed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 90%;
    margin: 10px 40px;
}

.sort-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all .3s ease;
    height: 60px;
}

.sort-option:hover {
    cursor: pointer;
    background-color: #bca7ff6b;
    transition: all .3s ease;
}

.sort-option > img {
    width: 40px;
    margin-right: 10px;
}

.sort-option > p {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #F4EBEB;
}

.clicked {
    color: #BBA7FF;
    filter: brightness(0) saturate(100%) invert(76%) sepia(23%) saturate(3847%) hue-rotate(201deg) brightness(101%) contrast(101%);
}

.featured-posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 40px;
    flex-wrap: wrap;
}

.featured-posts > p {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #F4EBEB;
    margin-bottom: 0px;
}

.featured-posts > hr {
    border: 2px solid #211F27;
    width: 1096px;
    margin: 5px 0px;
}

.post {
    background-color: #211F27;
    width: 1100px;
    height: 540px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.post-template {
    display: none;
}

.post-header {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
}

.song-album-title {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: #F4EBEB;
    margin-top: 15px;
    margin-bottom: 0px;
}

.artist {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #F4EBEB;
    margin-top: 5px;
    margin-bottom: 0px;
}

.artist > a, .song-album-title > a, .artist > a:visited, .song-album-title > a:visited {
    text-decoration: none;
    color: #F4EBEB;
    transition: all 0.25s ease-in-out;
}

.artist > a:hover, .song-album-title > a:hover {
    color: #BBA7FF;
    transition: all 0.25s ease-in-out;
}


.rating {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.rating > img {
    width: 25px;
    margin-right: 5px;
}

.user-reviewed {
    margin-right: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #F4EBEB;
    margin-top: 10px;
    margin-bottom: 0px;
}

.user, .user > a:visited {
    color: #8F59DD;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0px;
}

.tags-area {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.tag {
    background-color: #8F59DD;
    margin-right: 10px;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}

.tag:hover {
    background-color: #BBA7FF;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.tag > p {
    color: #F4EBEB;
    font-weight: normal;
    margin: 0px 10px;
    font-family: "OpenSans", sans-serif;
}

.post-body {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    background-color: #3B3942;
    max-height: 190px; 
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.bottom-cover {
    position: absolute;
    background-color: #3B3942;
    height: 80px;
    width: 1000px; 
    z-index: 10;
    bottom: 0px;
}

.post-text {    
    color: #F4EBEB;
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
}

.post-title {
    color: #F4EBEB;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
}

.see-more, .see-more:visited {
    font-weight: bold;
    color: #F4EBEB;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.see-more:hover { 
    color: #BBA7FF;
    transition: all 0.25s ease-in-out;
}

.post-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 10px 20px;
}

.react-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: transparent;
    transition: all .3s ease;
    width: 120px;
}

.react-bar:hover {
    transition: all .3s ease;
    background-color: #bca7ff6b;
}

.like {
    width: 50px;
    margin-right: 5px;
}

.dislike {
    transform: rotateX(180deg);
    width: 50px;
    margin-right: 5px;
    margin-top: 5px;
}

.counter {
    font-family: "OpenSans", sans-serif;
    color: #F4EBEB;
    font-weight: normal;
    margin-right: 20px;
}

.comment {
    width: 35px;
    margin-right: 10px;
    margin-left: 5px;
    padding-top: 12px;
}

.create-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 40px;
    background-color: #211F27;
    padding: 10px 20px;
    border-radius: 25px;
    height: 70px;
}

#pfp-holder {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
}

#pfp-holder > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 5px;
}


.create-post-text {
    background-color: #3B3942;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
}

.create-post-text > a:link, a:visited{
    display: inline-flex;
    align-items:center;
    text-decoration: none;
    color: #A9A5B6;
    width: 1000px; 
    height: 70px;
}

.create-post-text > p {
    margin: 0px 20px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    color: #A9A5B6;
}

.load-more {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    margin: 30px;
    border: 1px solid #3B3942;
    transition: all .3s ease;
    border-radius: 25px;
    padding: 5px;
}

.load-more > span {
    transition: all .3s ease;
}

.load-more > span:last-child {
    transition: all .3s ease;
    color: #3B3942;
}

.load-more:hover {
    cursor: pointer;
    transition: all .3s ease;
}

.load-more:hover > span:first-child {
    margin-right: 15px;
}

.load-more:hover > span {
    transition: all .3s ease;
    color: #F4EBEB;
}

.load-more:active {
    background-color: #BBA7FF;
    transition: all .3s ease;
}

.login-popup {
    position: fixed;
    margin: 20% 37%;
    width: 100px;
    height: 200px;
    z-index: 20;
    background-color: #211F27;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #00000076;
    display: none;
}

.login-popup > p {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
}

.login-popup > button {
    background-color: #BBA7FF;
    margin-right: 10px;
    border-radius: 25px;
    border: 0px;
    font-size: 15px;
    padding: 5px 25px;
    color: #211F27;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.login-popup > button:hover {
    cursor: pointer;
    color: #F4EBEB;
    transition: all 0.25s ease-in-out;
    background-color: #8F59DD;
}

.filtered-tags {
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
    display: none;
    padding-top: 10px;
}

/* login elements */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-body {
    background-color: #211F27;  
    margin-top: 50px;
    width: 800px;
    height: 410px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.register {
    margin: 25px 60px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.field-text {
    margin: 10px 60px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.field {
    margin: 5px 60px;
    height: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    border: 0px;
    font-size: 15px;
    border-radius: 7px;
    color: #F4EBEB;
    background-color: #3B3942;
    padding-left: 10px;
}

input:focus {
    outline: none; 
}

.remember {
    margin: 5px 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.remember > input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    accent-color: #BBA7FF;
}

.remember > p {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
}

.submit-login-button {
    background-color: #BBA7FF;
    margin-right: 10px;
    border-radius: 25px;
    border: 0px;
    font-size: 25px;
    padding: 5px 25px;
    color: #211F27;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    margin: 20px 20px;
    width: 200px;
    height: 50px;
}

.submit-login-button:hover {
    cursor: pointer;
    color: #F4EBEB;
    transition: all 0.25s ease-in-out;
    background-color: #8F59DD;
}

.bottom-text {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
}

.bottom-text > span > a {
    color: #8F59DD;
    text-decoration: none;
}

.error-message {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
    visibility: hidden;
}