/* Custom fonts */

@font-face { 
    font-family: OpenSans; 
    src: url('../fonts/OpenSans-Regular.ttf'); 
    font-weight: normal
}

@font-face { 
    font-family: OpenSans; 
    src: url('../fonts/OpenSans-ExtraBold.ttf'); 
    font-weight: 900;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../fonts/OpenSans-Bold.ttf'); 
    font-weight: bold;
}

@font-face { 
    font-family: OpenSans; 
    src: url('../fonts/OpenSans-LightItalic.ttf'); 
    font-weight: 100;
    font-style: italic;
}

::selection {
    color: #211F27;
    background: #BBA7FF;
}

/* body */
body { 
    margin: 0px; 
    background-color: #3B3942;
    overflow: auto;
}


.main-page {
    display: flex;
    flex-direction: column;
}

/* header elements */
.header-bar {
    background-color: #211F27;
    display: flex;
    flex-direction: row;
}

.logo-name {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    width: 25%;
}

.logo-name > img {
    width: 50px;
    margin-right: 10px;
}

.logo-name > p {
    margin: 5px 0px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-body {
    background-color: #211F27;  
    margin-top: 50px;
    width: 800px;
    height: 410px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.register {
    margin: 25px 60px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.field-text {
    margin: 10px 60px;
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.field {
    margin: 5px 60px;
    height: 40px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    border: 0px;
    font-size: 15px;
    border-radius: 7px;
    color: #F4EBEB;
    background-color: #3B3942;
    padding-left: 10px;
}

input:focus {
    outline: none; 
}

.remember {
    margin: 5px 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.remember > input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    accent-color: #BBA7FF;
}

.remember > p {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
}

.submit-button {
    background-color: #BBA7FF;
    margin-right: 10px;
    border-radius: 25px;
    border: 0px;
    font-size: 25px;
    padding: 5px 25px;
    color: #211F27;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    margin: 20px 20px;
    width: 200px;
    height: 50px;
}

.submit-button:hover {
    cursor: pointer;
    color: #F4EBEB;
    transition: all 0.25s ease-in-out;
    background-color: #8F59DD;
}

.bottom-text {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
}

.bottom-text > span > a {
    color: #8F59DD;
    text-decoration: none;
}

.error-message {
    color: #F4EBEB;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
    visibility: hidden;
}
